@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mochiy+Pop+P+One&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: rgb(12, 12, 12);
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-family: 'Mochiy Pop P One', sans-serif;
}
